<div class="row mb-4">
  <div class="col-sm-3">1</div>
  <div class="col-sm-3">2</div>
  <div class="col-sm-3">3</div>
  <div class="col-sm-3">4</div>
</div>
<div class="row">
  <div class="col-7 mt-1 mr-auto bg-white">
    <div class="row">
      <div class="col-6">
        <div class="bg-danger p-3 m-3">Famous</div>
      </div>
      <div class="col-6">
        <div class="bg-warning p-3 m-3">New</div>
      </div>
      <div class="p-3 w-100">
    <%= render "posts/list", posts: @posts%>
      </div>
    </div>
  </div>
  <div class="col-4 mt-1 bg-white">
   <p  class="mt-3 mb-3">ห้องสนทนาปัจจุบัน</p>
    <ul class="list-group mt-2">
      <% @communities.each do |community|%>
        <li class="list-group-item"><%= link_to community.name, community_path(community)%></li>
      <% end %>
    </ul>
  </div>
</div>
